{% extends "master.html" %}
{% import 'macros.html' as mcr %}

{% set active_page = "multicolor" %}

{% set skymapTypes = ['SkyMap', 'TwoD', 'neoxyPlotter'] %}
{% set comboplotTypes = ['ComboHistogram', 'ComboMetricVsH', 'Combo'] %}
{% set hourglassTypes = ['Hourglass'] %}

{% set run = runlist.getRun(runId) %}

{% set metrics = run.metrics %}

{% block moresidebar %}

<ul>
{% for g in run.groups.keys() %}
    <li>
        <a href="#{{g}}">{{g|escape}}</a>
  {% for sg in run.groups[g] %}
   {% set subsetMetrics = run.metricsInSubgroup(g, sg) %}
   {% set skysetMetrics = run.metricsWithPlotType(plotType=skymapTypes, metrics=subsetMetrics) %}
   {% set combosetMetrics = run.metricsWithPlotType(plotType=comboplotTypes, metrics=subsetMetrics) %}
   {% set hourglassMetrics = run.metricsWithPlotType(plotType=hourglassTypes, metrics=subsetMetrics) %}
   {% set statNames = run.allStatNames(subsetMetrics) %}
   {% set displaygroup = skysetMetrics|length + combosetMetrics|length
  + hourglassMetrics|length + statNames|length %}
   {% if displaygroup > 0 %}
        <div id='smallindent'><a href="#{{g}}_{{sg}}">{{sg|escape}}</a></div>
    {% endif %}
    {% endfor %}
    </li>
    {% endfor %}
</ul>
{% endblock %}

{% block content %}

{% set metricInfo = run.metricInfo() %}
{% set ninfo = metricInfo|length %}

{% for g in run.groups.keys() %}
 {% set groupstart = True %}
 {% for sg in run.groups[g] %}
   {# Get the metrics, skymaps and combo histograms in this subgroup. #}
   {% set subsetMetrics = run.metricsInSubgroup(g, sg) %}
   {% set skysetMetrics = run.metricsWithPlotType(plotType=skymapTypes, metrics=subsetMetrics) %}
   {% set combosetMetrics = run.metricsWithPlotType(plotType=comboplotTypes, metrics=subsetMetrics) %}
   {% set hourglassMetrics = run.metricsWithPlotType(plotType=hourglassTypes, metrics=subsetMetrics) %}
   {% set statNames = run.allStatNames(subsetMetrics) %}

   {% set displaygroup = skysetMetrics|length + combosetMetrics|length + vectorMetrics|length
    + hourglassMetrics|length + statNames|length %}
    {% if displaygroup > 0 %}
     {# then show this group ... #}

   {% if groupstart == True %}
      <a name = "{{g|escape}}" ></a>
      {% set groupstart = False %}
   {% endif %}
   <p>
   <a name = "{{g|escape}}_{{sg|escape}}"><b>{{g|escape}} : {{sg|escape}}</b> </a>
   </p>

   {# In each group, plot sky maps/TwoD maps, then combo hists, then hourglass, then summary
   stats #}

   {% set metricNames = run.uniqueMetricNames(skysetMetrics, baseonly=True) %}
   {% for mname in metricNames %}
     {% set mskyset = run.metricsWithMetricName(mname, skysetMetrics, baseonly=True) %}
     {% set skymaps = run.getSkyMaps(mskyset, plotType=skymapTypes) %}
     {% set skymaps = run.orderPlots(skymaps) %}
     {% if skymaps|length > 0 %}
      <div id='metricset'>
       {% set metricLink = 'metricResults?runId=%s&metricId=' %(runId)
   %}
       {# add a link to click to the skymap group's details #}
       {% set metricSelect = run.metricsToMetricIds(mskyset)|join('&metricId=') %}
       {% set metricLink = metricLink ~ metricSelect %}
	<a href={{metricLink}}>{{mname}}</a> </br>
	<table class='blank'>
          <tr class='blank'>
       {# put in the sky map plots #}
        {% for skymap in skymaps %}
            {% set mapkey = 'SkyMap' %}
            {% if skymap[mapkey]['plotFile']|length == 0 %}
            <td class='blank'>
            </td>
            {% else %}
              {% set plotfile = skymap[mapkey]['plotFile'][0] %}
              {% set thumbfile = skymap[mapkey]['thumbFile'][0] %}
              <td class='blank' align='center'>
                  <a href="{{plotfile}}"> <img class="sm_thumbnail" src='{{thumbfile}}'></a>
              </td>
              {% endif %}
              {% if loop.index is divisibleby 3 %}
          </tr><tr>
        {% endif %}
        {% endfor  %}
    </tr>
    </table>
      </div>
    {% endif %}
    {% endfor %}

   {% for m in combosetMetrics %}
     {% set comboplots = run.plotsForMetric(m) %}
     {% set combodict = run.plotDict(comboplots) %}
     {% set combohist = combodict['ComboHistogram'] %}
     {% if combohist|length > 0 %}
      <div id='metricset'>
	{% set metricInfo = run.metricInfo(m) %}
        {{ metricInfo['MetricName']|escape }} ({{metricInfo['Slicer']|escape}})
	</br> <div id='indent'> {{metricInfo['Metadata']|escape}} </div> </br>
	{% for plotfile, thumbfile in zip(combohist['plotFile'], combohist['thumbFile']) %}
        <a href="{{plotfile}}"> <img class="thumbnail" src='{{thumbfile}}'></a>
	 {% endfor %}
       </div>
      {% endif %}
   {% endfor  %}

   {% if hourglassMetrics|length > 0 %}
   <div id='metricset'>
   {% for h in hourglassMetrics %}
      {% set metricInfo = run.metricInfo(h) %}
      {# {{metricInfo['Metadata']|escape}} </br> #}
      {% set hourglassplots = run.plotsForMetric(h) %}
      {% set hourglassdict = run.plotDict(hourglassplots) %}
      {% set hourglass = hourglassdict['Hourglass'] %}
      {% for plotfile, thumbfile in zip(hourglass['plotFile'], hourglass['thumbFile']) %}
         <a href="{{plotfile}}"> <img class="thumbnail" src='{{thumbfile}}'></a>
      {% endfor %}
   {% endfor %}
   </div>
   {% endif %}

    {% if statNames | length > 0 %}
      <div id= 'metricset'>
      {{ mcr.MakeStatTable(subsetMetrics, g, sg, run) }}
      </div>
   {% endif %}

  {% endif %}
 {% endfor %}
{% endfor %}

{% endblock %}
