setuptools_scm
setuptools_scm_git_archive
numpy
matplotlib
healpy
pandas
pyarrow
numexpr
scipy
sqlalchemy
astropy
pytables
h5py
astroplan
colorcet
cycler
george
scikit-learn
shapely
skyfield
skyproj
tornado
jinja2
tqdm
rubin-scheduler
