setuptools_scm
setuptools_scm_git_archive
numpy
matplotlib
healpy
pandas
numexpr
scipy
sqlalchemy
astropy
palpy
pytables
h5py
openorb
openorb-data-de405
astroplan
colorcet
cycler
george
scikit-learn
shapely
skyfield
rubin-scheduler
