astropy-base
astroplan
colorcet
cycler
gitpython
healpy
h5py
matplotlib-base
numpy
numexpr
pandas
pyarrow
pytables
rubin-scheduler >=3.8
scipy
setuptools_scm
setuptools_scm_git_archive
shapely
skyfield >=1.52
skyproj
sqlalchemy
tqdm
